.main-container {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5%;
  border-radius: 10px;
}
.inputs {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.container-data {
  display: flex;
  align-items: center;
  padding: 2%;
}
.text-data {
  font-size: 2rem;
  width: 50%;
}
.image-gif {
  width: 50%;
}
